* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
::selection {
    background-color: rgba($themeColor_primary, 0.3);
}
html,
body {
    width: 100%;
}
body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
        YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial,
        "メイリオ", Meiryo, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "palt";
    box-sizing: border-box;
    background-color: #fafafa;
    color: #424242;
    overflow-x: hidden;
    overflow-y: scroll;
}
.page-enter-active {
    transition: 0.4s ease-out;
}
.page-leave-active {
    transition: 0.2s ease-in;
}
.page-enter {
    opacity: 0;
}
.page-leave-to {
    opacity: 0;
}

main {
    padding-top: 100px;
}
.content {
    line-height: 2;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.page-title + .content {
    padding: 320px 50px 20px;
    background-color: #fcfcfc;
    box-shadow: 0 0 20px rgba(#000, 0.2);

    @media screen and (max-width: 800px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.article-body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    table,
    ul,
    ol,
    img,
    video,
    audio {
        margin: 20px 0;
    }

    @mixin headingBottomBorder($border-width, $font-size) {
        padding-bottom: $border-width;
        font-size: $font-size;

        &::before {
            height: $border-width;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: 0.08em;
    }

    h1 {
        position: relative;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 2em;
        background: $themeGradient;
        color: #fafafa;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            width: 100%;
            border-bottom: dashed 3px #fafafa;
            transform: skewX(-30deg);
        }

        &::selection {
            background-color: rgba(#fafafa, 0.3);
        }
    }

    h2 {
        @include headingBottomBorder(5px, 1.8em);
    }

    h3 {
        padding-left: 5px;
        border-left: 5px solid $themeColor_primary;
        font-size: 1.5em;
        color: $themeColor_primary;
    }

    h4 {
        @include headingBottomBorder(2px, 1.2em);
    }

    h5 {
        @include headingBottomBorder(1px, 1em);
    }

    h6 {
        font-size: 0.8em;
        color: $themeColor_primary;
    }

    h2,
    h4,
    h5 {
        position: relative;
        color: $themeColor_primary;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            width: 100%;
            background: $themeGradient;
        }
    }

    ul:not(.no-marker),
    ol:not(.no-marker) {
        background-color: #fafafa;
        border-top: 1px solid $themeColor_primary;
        border-bottom: 1px solid $themeColor_secondary;
        padding: 5px 0 5px 30px;
        list-style: none;

        & ul,
        & ol {
            border: 0;
            margin: 0;
            padding: 0;
            padding-left: 30px;
        }

        & ul > li::before {
            border-left-color: $themeColor_secondary;
        }
        & ol > li::before {
            background-color: $themeColor_secondary;
        }

        & > li {
            margin: 5px 0;
            position: relative;

            &::before {
                position: absolute;
                left: -20px;
            }

            & > * {
                margin: 0;
            }
        }
    }

    ul:not(.no-marker) > li::before {
        content: "";
        top: 0.65em;
        display: block;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-left: 7px solid $themeColor_primary;
        border-right-width: 0;
    }

    ol:not(.no-marker) {
        counter-reset: list;

        & > li::before {
            counter-increment: list;
            content: counter(list);
            top: 0.85em;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15px;
            height: 15px;
            font-size: 10px;
            color: #fafafa;
            background-color: $themeColor_primary;
            border-radius: 50%;
        }
    }

    ul.no-marker,
    ol.no-marker {
        list-style: none;
    }

    blockquote {
        border-left: 5px solid #bdbdbd;
        padding: 15px 0 15px 5px;
        background-color: #eee;
        border-radius: 5px;

        & p {
            margin: 0;
        }
    }

    pre {
        padding: 10px;
        font-size: 0.8em;
        background-color: #333;
        border-radius: 5px;
        overflow-x: auto;

        & code {
            border: 0;
            background: transparent;
            padding: 0;
        }
    }

    code {
        border: 1px solid #bdbdbd;
        border-radius: 5px;
        padding: 2px 5px;
        background-color: #eee;
        font-family: "Roboto Mono", monospace;
        font-size: small;
    }

    a {
        position: relative;
        padding: 2px 5px;
        border-radius: 2px;
        color: $themeColor_primary;
        text-decoration: none;
        transition: $transition_out;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 0;
            height: 1px;
            background: $themeGradient;
            transition: $transition_out;
        }

        @include hover-or-active {
            background-color: rgba($themeColor_secondary, 0.1);
            transition: $transition_in;

            &::before {
                width: 100%;
                transition: $transition_in;
            }
        }
    }

    img, video {
        display: block;
        width: 100%;
        height: auto;
        box-shadow: 0 0 20px rgba(#000, 0.1);
        border-radius: 2px;
    }

    audio {
        display: block;
        width: 100%;
    }

    em {
        font-style: normal;
        transform: skewX(-15deg);
        background: linear-gradient(
            0deg,
            rgba($themeColor_secondary, 0.2),
            rgba($themeColor_primary, 0.2) 50%,
            transparent 50%,
            transparent
        );
    }

    hr {
        width: 100%;
        height: 2px;
        border: 0;
        background: $themeGradient;
    }

    table {
        display: block;
        width: 100%;
        overflow-x: auto;
        border-collapse: collapse;

        & thead {
            border-bottom: 2px solid #bdbdbd;
        }

        & tbody {
            & tr ~ tr {
                border-top: 1px solid #bdbdbd;
            }
        }

        & td,
        & th {
            padding: 5px 10px;
            white-space: nowrap;
        }
    }
}

.hljs {
    &-subst {
        color: #de935f;
    }
}
